<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="tohttps-outside" stopProcessing="false">
          <match url=".*"/>
          <conditions>
            <add input="{HTTPS}" pattern="OFF"/>
            <add input="{HTTP_HOST}" pattern=".*hikeview.*"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
        </rule>
        <rule name="tofamily" stopProcessing="false">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(family.)talapus.us" />
            <add input="{PATH_INFO}" pattern="^/family/" negate="true" />
          </conditions>
          <action type="Rewrite" url="\family\{R:0}" />
        </rule>
        <rule name="tohikeview" stopProcessing="false">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(hikeview.)talapus.us" />
            <add input="{PATH_INFO}" pattern="^/hikeview/" negate="true" />
          </conditions>
          <action type="Rewrite" url="\hikeview\{R:0}" />
        </rule>
        <rule name="totrailmap" stopProcessing="false">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(trailmap.)talapus.us" />
            <add input="{PATH_INFO}" pattern="^/trailmap/" negate="true" />
          </conditions>
          <action type="Rewrite" url="\trailmap\{R:0}" />
        </rule>
        <rule name="Google callback root" stopProcessing="false">
          <match url=".*google/callback.*" />
          <conditions>
            <add input="{PATH_INFO}" pattern="hikeviewt" negate="true"/>
          </conditions>
          <action type="Rewrite" url="/hikeview/google/callback.ashx" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>